body {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    background: #eee;
}

p {
    line-height: 5pt;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 110%;
    text-align: center;
}

hr {
    background: black;
    height: 1px;
}

table.statistics {
    width: 100%;
    border: 1px solid #000;    
    border-collapse: collapse;
}

table.statistics th {
    text-align: left;
    background: #eee;
    width: 25%;
}

table.tonemap {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}

table.tonemap tr {
    margin: 0;
    padding: 0;
    height: 10px;
}

table.tonemap td {
    padding: 0;
    margin: 0;
    font-size: 1px;
}

table.tonemap td.fill {
    background-color: green;
}

table.tonemap-grid {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}

table.tonemap-grid td {
    width: 33%;
    text-align: center;
    margin: 0;
    padding: 0;
}

table.tonemap-grid .last { text-align: right; }
table.tonemap-grid .first { text-align: left; }

div#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid #aaa;
    background: #fff;
}

div#speed-stats {
    float: left;
    width: 45%;
}

div#base-data {
    float: right;
    width: 45%;
    text-align: right;
}

.clear { clear: both; }

.datum {
    color: #000;
    font-family: monospace;
}

.zero {
    color: #aaa;
}
